/*@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Ubuntu+Mono&display=swap');

/* ubuntu-mono-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/ubuntu-mono-v17-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('assets/fonts/ubuntu-mono-v17-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: #282a36;
}


html {
    background-color: var(--background-color);
    font-family: 'Ubuntu Mono', monospace;
}